.aa {
text-align: center;
color: rgb(0, 0, 0);
font-size: 100px;
background-color: rgb(255, 234, 0);
margin-top: -8px;
margin-left: -8px;
width: 1535px;
}
.bb {
background-color: red;
width: 110px;
height: 550px;
margin-left: -8px;
margin-top: -68PX;
text-align: center;
font-size: 50px;
}
.cc {
background-color: rgb(255, 98, 55);
width: 110px;
height: 549px;
margin-left: 100px;
margin-top: -58px;
text-align: center;
}
.dd {
background-color: rgb(228, 171, 15);
width: 110px;
height: 550px;
margin-left: 100px;
margin-top: -59px;
text-align: center;
}
.ee {
background-color: rgb(219, 241, 45);
width: 110px;

height: 552px;
margin-left: 100px;
margin-top: -60px;
text-align: center;
}
.ff {
background-color: rgb(154, 250, 105);
width: 110px;
height: 551px;
margin-left: 100px;
margin-top: -57px;
text-align: center;
}
.gg {
background-color: rgb(116, 255, 46);
width: 110px;
height: 551.5px;
margin-left: 100px;
margin-top: -59px;
text-align: center;
}
.hh {
background-color: rgb(84, 247, 3);
width: 110px;
height: 551.5px;
margin-left: 100px;
margin-top: -58px;
text-align: center;
}
.ii {
background-color: rgb(69, 208, 0);
width: 110px;
height: 551px;
margin-left: 100px;
margin-top: -58.5px;
text-align: center;
}
.jj {
background-color: rgb(53, 151, 4);
width: 110px;

height: 551px;
margin-left: 100px;
margin-top: -58px;
text-align: center;
}
.kk {
background-color: rgb(8, 160, 104);
width: 110px;
height: 551.5px;
margin-left: 100px;
margin-top: -59px;
text-align: center;
}
.ll {
background-color: rgb(15, 122, 158);
width: 110px;
height: 551.5px;
margin-left: 100px;
margin-top: -58.5px;
text-align: center;
}
.mm {
background-color: rgb(4, 96, 127);
width: 110px;
height: 551px;
margin-left: 100px;
margin-top: -58px;
text-align: center;
}
.nn {
background-color: rgb(4, 55, 127);
width: 110px;
height: 551px;
margin-left: 100px;
margin-top: -58.5px;
text-align: center;
}
.oo {
background-color: rgb(158, 5, 172);
width: 110px;

height: 551px;
margin-left: 100px;
margin-top: -58px;
text-align: center;
}
.pp {
background-color: rgb(89, 3, 97);
width: 119px;
height: 551.5px;
margin-left: 100px;
margin-top: -59px;
text-align: center;
}
.qq {
font-size: 30px;
margin-left: -10px;
margin-top: 10px;
color: rgb(86, 17, 29);
}
.rr {
font-size: 30px;
margin-left: 200px;
margin-top: -34px;
color: rgb(9, 156, 1);
}
.ss {
font-size: 30px;
margin-left: 701px;
margin-top: -35px;
color: rgb(0, 0, 0);
margin-right: -16px;
}